.venv/
.env
classic-dark.png
flyrank-internship-confirmation-ngamchingseh-willis-kipgen-july-2026-8-weeks.pdf
W2-A1-Building_my_first_CRUD_API/W2 - Build your first CRUD API.pdf
W3/A2 Connecting to the database/W3 - Connecting your CRUD to the database.pdf
W3/A2 Connecting to the database/HANDS_ON_GUIDE.md
W3/A3 Containerize your Stack/HANDS_ON_GUIDE_2.md
W3/A3 Containerize your Stack/W3 - Containerize your stack.pdf
W3/.env
W3/.env.example

w4/W4 - Auth - Login & protect.pdf
w4/HANDS_ON_GUIDE.md


#db
*.db

# Python cache artifacts
__pycache__/
*.py[cod]
*$py.class

