.venv/
classic-dark.png
flyrank-internship-confirmation-ngamchingseh-willis-kipgen-july-2026-8-weeks.pdf
W2-A1-Building_my_first_CRUD_API/W2 - Build your first CRUD API.pdf
W3/A2 Connecting to the databases/W3 - Connecting your CRUD to the database.pdf

# Python cache artifacts
__pycache__/
*.py[cod]
*$py.class
